@model IEnumerable<BibliSharp.DbModels.Usuario>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Login
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Data Criação
            </th>
            <th>
                Criado Por
            </th>
            <th>
                Data Alteração
            </th>
            <th>
                Alterado Por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCreacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CriadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlteradoPor)
            </td>
            <td>
                @if (item.Ativo)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a><label> | </label>
                }
            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
            @if (item.Ativo)
            {
                <label> | </label><a asp-action="Delete" asp-route-id="@item.Id"> Apagar </a>
            }
            </td>
        </tr>
}
    </tbody>
</table>
