@model BibliSharp.DbModels.Emprestismo

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Tem certeza que quer apagar este Emprestimo?</h3>
<div>
    <h4>Emprestismo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRetirada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRetirada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CriadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CriadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlteradoPor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AlunoId" />
        <input type="hidden" asp-for="LivroId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
